body {
    background-image: url("reindeerbackground.png");
    background-color: white;
  }
  
  h1 {
    color: rgb(5, 28, 10);
    margin-left: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
  }
  h2 {
    color: rgb(5, 28, 10);
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
  }
  .shelf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
  }
    a.button {
        padding: 1px 6px;
        border: 1px outset buttonborder;
        border-radius: 3px;
        color: buttontext;
        background-color: buttonface;
        text-decoration: none;
    }

  @media (max-width:800px) {
    .shelf {
        flex-direction: column;
    }
  }
  .tape {
    width: 49%;
    min-width: 300px;
  }
  @media (max-width:800px) {
    .tape {
        width: 100%;
        min-width: 300px;
    }
  }
